In [1]:
import pandas as pd

### Using head() and tail()

In [2]:
df = pd.read_json("sample_Data.json")

print("Display top 10 rows: ", df.head(10))
print("Display bottom 10 rows: ", df.tail(10))

Display top 10 rows:     id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones
5   6                    Fitbit Versa 3 Smartwatch
6   7                       KitchenAid Stand Mixer
7   8           Dyson V11 Absolute Cordless Vacuum
8   9                   Ninja Foodi Smart XL Grill
9  10              Canon EOS Rebel T8i DSLR Camera

                                         description    price  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00
5  The Fitbit Versa 3 Smartwatch features a built...   229.95
6  The KitchenAid Stand Mixer features a 5-quart ...   399.99
7  The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8  The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00

          category                                              image
0      Electronics  https://www.apple.com/newsroom/images/product/...
1      Electronics  https://images.samsung.com/is/image/samsung/p6...
2      Electronics  https://www.sony.com/image/44baa604124b770c824...
3      Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5      Electronics  https://www.fitbit.com/global/content/dam/fitb...
6   Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7  Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8   Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9      Electronics  https://www.canon.com.au/-/media/images/produc...
Display bottom 10 rows:      id                                               name  \
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
10  The Apple AirPods Pro feature active noise can...  249.00     Electronics
11  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
12  The Fitbit Charge 4 Fitness Tracker features G...  129.95     Electronics
13  The Samsung Galaxy Watch3 features a rotating ...  399.99     Electronics
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...  349.99     Electronics
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
10  https://www.apple.com/v/airpods-pro/b/images/m...
11  https://assets.bose.com/content/dam/Bose_DAM/W...
12  https://www.fitbit.com/global/content/dam/fitb...
13  https://images.samsung.com/is/image/samsung/as...
14  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

### Using info()

In [4]:
df = pd.read_json("sample_Data.json")

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

### Using describe()

In [ ]:

data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Aditi", "Jagdish", "Raj", "Simran"],
    "Age": [23,45,32,45,67,89,21],
    "Salary": [656565,787887,899898,344334,766767,545454,900909],
    "Performance Score": [76,45,32,86,53,46,87]
}

df = pd.DataFrame(data)
print("Sample Data: ", df)
#         Name  Age  Salary  Performance Score
# 0        Ram   23  656565                 76
# 1      Shyam   45  787887                 45
# 2  Ghanshyam   32  899898                 32
# 3      Aditi   45  344334                 86
# 4    Jagdish   67  766767                 53
# 5        Raj   89  545454                 46
# 6     Simran   21  900909                 87

descriptive_Data = df.describe()
print("Descriptive Data: ", descriptive_Data)
#             Age         Salary  Performance Score
# count   7.00000       7.000000           7.000000
# mean   46.00000  700259.142857          60.714286
# std    24.63737  201979.575104          22.028121
# min    21.00000  344334.000000          32.000000
# 25%    27.50000  601009.500000          45.500000
# 50%    45.00000  766767.000000          53.000000
# 75%    56.00000  843892.500000          81.000000
# max    89.00000  900909.000000          87.000000

Sample Data:          Name  Age  Salary  Performance Score
0        Ram   23  656565                 76
1      Shyam   45  787887                 45
2  Ghanshyam   32  899898                 32
3      Aditi   45  344334                 86
4    Jagdish   67  766767                 53
5        Raj   89  545454                 46
6     Simran   21  900909                 87
Descriptive Data:              Age         Salary  Performance Score
count   7.00000       7.000000           7.000000
mean   46.00000  700259.142857          60.714286
std    24.63737  201979.575104          22.028121
min    21.00000  344334.000000          32.000000
25%    27.50000  601009.500000          45.500000
50%    45.00000  766767.000000          53.000000
75%    56.00000  843892.500000          81.000000
max    89.00000  900909.000000          87.000000

### Shape and Columns

In [ ]:
data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Aditi", "Jagdish", "Raj", "Simran"],
    "Age": [23,45,32,45,67,89,21],
    "Salary": [656565,787887,899898,344334,766767,545454,900909],
    "Performance_Score": [76,45,32,86,53,46,87]
}

df = pd.DataFrame(data)
print(df.shape) # (7, 4)
print(df.columns) # Index(['Name', 'Age', 'Salary', 'Performance_Score'], dtype='object')

(7, 4)
Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

### Selecting Columns

In [ ]:
## square bracktes are used for selecting columns  

## if we are selecting a single column then it will return a series 
## Syntax -- df["Column1"]

## if we are selecting multiple columns then it will return a dataFrame
## Syntax -- df[["Column1", "Column2", ...]]


data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Aditi", "Jagdish", "Raj", "Simran"],
    "Age": [23,45,32,45,67,89,21],
    "Salary": [656565,787887,899898,344334,766767,545454,900909],
    "Performance_Score": [76,45,32,86,53,46,87]
}

df = pd.DataFrame(data)
print("Sample DataFrame: ", df)
#          Name  Age  Salary  Performance_Score
# 0        Ram   23  656565                 76
# 1      Shyam   45  787887                 45
# 2  Ghanshyam   32  899898                 32
# 3      Aditi   45  344334                 86
# 4    Jagdish   67  766767                 53
# 5        Raj   89  545454                 46
# 6     Simran   21  900909                 87

# accessing single column 
print("Single Column: ", df["Performance_Score"])
# 0    76
# 1    45
# 2    32
# 3    86
# 4    53
# 5    46
# 6    87

# accessing multiple column
print("Multiple Columns: ", df[["Age", "Salary"]])
#     Age  Salary
# 0   23  656565
# 1   45  787887
# 2   32  899898
# 3   45  344334
# 4   67  766767
# 5   89  545454
# 6   21  900909

Sample DataFrame:          Name  Age  Salary  Performance_Score
0        Ram   23  656565                 76
1      Shyam   45  787887                 45
2  Ghanshyam   32  899898                 32
3      Aditi   45  344334                 86
4    Jagdish   67  766767                 53
5        Raj   89  545454                 46
6     Simran   21  900909                 87
Single Column:  0    76
1    45
2    32
3    86
4    53
5    46
6    87
Name: Performance_Score, dtype: int64
Multiple Columns:     Age  Salary
0   23  656565
1   45  787887
2   32  899898
3   45  344334
4   67  766767
5   89  545454
6   21  900909

### Filtering Rows

In [ ]:
## boolean conditions are used 

## if we are giving single condition  
## Syntax -- df[df["Column1"] > value]

## if we are giving multiple conditions 
## Syntax -- df[(df["Column1"] > value1) & (df["Column2"] < value2) .....] -- we can use |(or) also


data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Aditi", "Jagdish", "Raj", "Simran"],
    "Age": [23,45,32,45,67,89,21],
    "Salary": [656565,787887,899898,344334,766767,545454,900909],
    "Performance_Score": [76,45,32,86,53,46,87]
}

df = pd.DataFrame(data)
print("Sample DataFrame: ", df)
#          Name  Age  Salary  Performance_Score
# 0        Ram   23  656565                 76
# 1      Shyam   45  787887                 45
# 2  Ghanshyam   32  899898                 32
# 3      Aditi   45  344334                 86
# 4    Jagdish   67  766767                 53
# 5        Raj   89  545454                 46
# 6     Simran   21  900909                 87

# on the basis of single condition
print("Single conditon based row selection: ", df[df["Performance_Score"] > 50])
#        Name  Age  Salary  Performance_Score
# 0      Ram   23  656565                 76
# 3    Aditi   45  344334                 86
# 4  Jagdish   67  766767                 53
# 6   Simran   21  900909                 87

# on the basis of multiple conditions
print("Multiple conditions based row selection: ", df[ (df["Age"] > 40) & (df["Performance_Score"] < 50) ])
#      Name  Age  Salary  Performance_Score
# 1  Shyam   45  787887                 45
# 5    Raj   89  545454                 46

Sample DataFrame:          Name  Age  Salary  Performance_Score
0        Ram   23  656565                 76
1      Shyam   45  787887                 45
2  Ghanshyam   32  899898                 32
3      Aditi   45  344334                 86
4    Jagdish   67  766767                 53
5        Raj   89  545454                 46
6     Simran   21  900909                 87
Single conditon based row selection:        Name  Age  Salary  Performance_Score
0      Ram   23  656565                 76
3    Aditi   45  344334                 86
4  Jagdish   67  766767                 53
6   Simran   21  900909                 87
Multiple conditions based row selection:      Name  Age  Salary  Performance_Score
1  Shyam   45  787887                 45
5    Raj   89  545454                 46